  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
      <div id="main-list-wrapper">
        <div id="listen-links-div">
          <h2>listen</h2>
          <ul id="listen-links-list">
            <li class="main-list-li"><a class="main-list-link" href="https://nmlstyl.bandcamp.com">bandcamp</a></li>
            <li class="main-list-li"><a class="main-list-link" href="https://youtube.com/c/nmlstyl">youtube</a></li>
            <li class="main-list-li"><a class="main-list-link" href="https://geo.itunes.apple.com/us/artist/nmlstyl/1250457183?mt=1&app=music">itunes</a></li>
            <li class="main-list-li"><a class="main-list-link" href="https://open.spotify.com/artist/56JCupuBEDAZTenoiH4VVw?si=uIpKz8s9QbWrdIexIHBNJA">spotify</a></li>
          </ul>
        </div>

        <div id="social-links-div">
          <h2>social</h2>
          <ul id="social-links-list">
            <li class="main-list-li"><a class="main-list-link" href="https://twitter.com/nmlstyl">twitter</a></li>
            <li class="main-list-li"><a class="main-list-link" href="https://instagram.com/nmlstyl">instagram</a></li>
            <li class="main-list-li"><a  href="https://facebook.com/nmlstyl">facebook</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
      <img class='img-fluid artist-pic' src="images/nmlstyl-live.jpg">
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
      <img class='img-fluid artist-pic' src="images/picks.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div id='showwrapper'>
      <h2>upcoming shows</h2>&nbsp;&nbsp;&nbsp;
      <a href='http://songkick.com'><div id="skcontainer">
          <img class='img-fluid' src="/images/songkick.png" />
        </div></a>
        </div>
        <% if @events %>
          <% @events.each do |event| %>
            <ul>
              <li><a href='<%= event['uri'].downcase %>'>songkick.com link</a>
              <li><%= event['displayName'].downcase %></li>
              <li>city: <%= event['location']['city'].downcase %></li>
              <li>venue: <a href="<%= event['venue']['uri'] %>"><%= event['venue']['displayName'].downcase %></a></li>
            </ul>
          <% end %>
        <% else %>
          <ul>
            <li>no shows have been announced.</li>
          </ul>
        <% end %>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <form action="/email" method="POST">
        <div class="form-group">
          <% if flash[:notice] %>
            <label for="email"><%= flash[:notice] %></label>
          <% else %>
            <label for="email">email list to be notified of shows and releases:</label>
          <% end %>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xl-12">
    <h2 id="bio-header">bio</h2>
      <p> Ms. Joey Michalina Mariano is a Philadelphia based coder, musician, and artist. She created the nmlstyl project in 2001. Originally called 'animal style' the name was later obfiscated to provide a cryptic illusion to past projects. Rob Martino joins her on drums and fills out the project's acoustic drum kit needs. Joey is also Cheap Dinosaurs' guitarist and creates soundtracks that can be heard in various indie, homebrew video games and digital media.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h2>live</h2>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/FJU_yn7AsNA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/OOfC2z_V0DU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

