<div class="container">

  <div class="row">
    <!-- ηmlstyl -->
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"><img class="img-fluid" src="images/nmlstyl.png"></div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"><img class="img-fluid glitch" src="images/sketch-big.gif"></div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 text-center text-sm-center text-md-left">
                          <h2>LISTEN</h2>
                          <h3><a href="https://nmlstyl.bandcamp.com">bandcamp</a></h2>
                          <h3><a href="https://youtube.com/c/nmlstyl">youtube</a></h2>
                          <h3><a href="https://geo.itunes.apple.com/us/artist/nmlstyl/1250457183?mt=1&app=music">itunes</a></h2>
                          <h3><a href="https://open.spotify.com/artist/56JCupuBEDAZTenoiH4VVw?si=uIpKz8s9QbWrdIexIHBNJA">spotify</a></h2>
                          <h2>SOCIAL</h2>
                          <h3><a href="https://twitter.com/nmlstyl">twitter</a></h2>
                          <h3><a href="https://instagram.com/nmlstyl">instagram</a></h2>
                          <h3><a href="https://facebook.com/nmlstyl">facebook</a></h2>

    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <img class='img-fluid artist-pic' src="images/pulswave-nmlstyl-pic.jpg">
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <img class='img-fluid artist-pic' src="images/photo_by_chiptography.com.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <h4>UPCOMING SHOWS</h4>
        <% if @events %>
          <% @events.each do |event| %>
            <ul>
              <li><a href='<%= event['venue']['uri'].downcase %>'>songkick.com link</a>
              <li><%= event['displayName'].downcase %></li>
              <li>city: <%= event['location']['city'].downcase %></li>
              <li>venue: <a href="<%= event['venue']['uri'] %>"><%= event['venue']['displayName'].downcase %></a></li>
            </ul>
          <% end %>
        <% else %>
          <ul>
            <li>no shows have been announced.</a>
          </ul>
        <% end %>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <form action="/email" method="POST">
        <div class="form-group">
          <% if flash.now.include?(:notice) %>
            <label for="email"><%= flash.now[:notice] %></label>
          <% else %>
            <label for="email">email list to be notified of shows and releases:</label>
          <% end %>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form><br /><br />
    </div>
  </div>

  <footer>copyright joey michalina mariano 2018<br />photos courtesty of Sochi Thomas and <a href="http://chiptography.com">Chiptography.com</a></footer>
</div>
